<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location>
        <system.webServer>
            <aspNetCore>
                <environmentVariables xdt:Transform="InsertIfMissing">
                    <environmentVariable xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" name="CONFIG_FOLDER_PATH" value="C:\ProgramData\DragonFruit\OnionFruit-Web"/>
                    <environmentVariable xdt:Locator="Match(name)" xdt:Transform="InsertIfMissing" name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true"/>
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>