name: Publish Docker Images

on:
  release:
    types: [ published ]

permissions:
  packages: read

jobs:
  docker-linux:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        project:
          - { name: "DragonFruit.OnionFruit.Web", tag-prefix: "" }
          - { name: "DragonFruit.OnionFruit.Web.Worker", tag-prefix: "worker-" }

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Setup GitHub NuGet
        run: dotnet nuget update source dragonfruit --username USERNAME --password ${{ github.token }} --store-password-in-clear-text

      - name: Build
        run: dotnet publish -c Release -p:UseAppHost=false -p:ContinuousIntegrationBuild=true -p:Version=${{ github.event.release.tag_name }} ${{ matrix.project.name }}

      - name: Docker tag metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: dragonfruitdotnet/onionfruit-web
          tags: |
            type=semver,pattern={{version}}${{ matrix.project.tag-prefix }}
            type=raw,value=latest${{ matrix.project.tag-prefix }}

      - name: Image build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.project.name }}/bin/Release/net10.0/publish
          tags: ${{ steps.meta.outputs.tags }}
          file: ${{ matrix.project.name }}/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
